@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
   
} 

/* Header */

header {
    background-color: peru;
    display: flex;
    
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #000;
}


.logo {
    font-size: 250%;
    padding: 0 1rem;
    
}

.active {
    border-bottom: 1px solid #000;
}

.menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

.menu li {
    padding-bottom: 10px;
    text-transform: uppercase;
    
}

.menu a {
    text-decoration: none;
    color: #000;
}

/* Navbar styles with dropdown toggle */

nav {
    
    background-color: peru;
    width: 100%;
    left: 0;
    justify-content: space-between;
    display: none;
    top: 100%;
    padding-left: 1px;
    font-size: smaller;
}

/* Nav Toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    
}


/* Main Content */

main {
    background-color: aqua;
    /* make main element take up surplus space to push footer down */
   
    padding-top: 20px;
}

img {
    height: 110px;
    width: fit-content;
}

#creator-section > div {
    display: inline-block;
    width: 30%;
    padding-right: 10px;
}

/* Footer */

footer {
    background-color: yellowgreen;
}

