@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

/* Header */

header {
    background-color: #6D3B00;
    display: flex;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #ffffff;
}


.logo {
    font-size: 250%;
    padding: 0 1rem;

}

.active {
    border-bottom: 1px solid #ffffff;
}

.menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

.menu li {
    padding-bottom: 10px;
    text-transform: uppercase;

}

.menu a {
    text-decoration: none;
    color: #ffffff;
}

/* Navbar styles with dropdown toggle */

nav {

    background-color: #6D3B00;
    width: 100%;
    left: 0;
    justify-content: space-between;
    display: none;
    top: 100%;
    padding-left: 1px;
    font-size: smaller;
}

/* Nav Toggle */

#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
    color: #ffffff;

}


/* Main Content */

main {
    background-color: #CDA877;
    color: #ffffff;
    padding-top: 20px;
    
}

/* Banner */

.banner {
    padding: 30px 10px;
    text-align: center;

}

.banner > h2 {
    font-weight: 300;
}


/* Creator Letter Section */


#creator-section > div {
    text-align: center;
}

.img-creator {
    height: auto;
    width: 85%;
    max-width: 500px;
    padding: 15px;

}

.creator-letter {
    padding: 15px;
    height: auto;
    width: 85%;
    max-width: 500px;

}



/* Footer */

footer {
    background-color: yellowgreen;
}


/* this is for the media query to line img and creator letter side by side 

#creator-section {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

*/